<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Configuración de páginas de error -->
    <error-page>
        <error-code>404</error-code>
        <location>/errores/NotFound.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errores/JavaError.jsp</location>
    </error-page>
    <filter>
        <filter-name>FiltroAutenticacion</filter-name>
        <filter-class>filtros.FiltroAutenticacion</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroAutenticacion</filter-name>
        <url-pattern>/*</url-pattern>
        <!-- Aplica el filtro a todas las rutas -->
    </filter-mapping>
    <!-- Declaración de servlets -->
    <servlet>
        <servlet-name>RegistroUsuarioNormal</servlet-name>
        <servlet-class>servlets.RegistroUsuarioNormal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>servlets.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvLogout</servlet-name>
        <servlet-class>servlets.SvLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvAuth</servlet-name>
        <servlet-class>servlets.SvAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvActores</servlet-name>
        <servlet-class>servlets.SvActores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvNoticias</servlet-name>
        <servlet-class>servlets.SvNoticias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvTrailers</servlet-name>
        <servlet-class>servlets.SvTrailers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvComentar</servlet-name>
        <servlet-class>SvComentar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvCrearPublicaciones</servlet-name>
        <servlet-class>servlets.SvCrearPublicaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvHome</servlet-name>
        <servlet-class>servlets.SvHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetallesPost</servlet-name>
        <servlet-class>servlets.DetallesPost</servlet-class>
    </servlet>
    <!-- Mapeo de servlets -->
    <servlet>
        <servlet-name>SvDashboard</servlet-name>
        <servlet-class>servlets.SvDashboard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroUsuarioNormal</servlet-name>
        <url-pattern>/RegistroUsuarioNormal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvLogout</servlet-name>
        <url-pattern>/SvLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvAuth</servlet-name>
        <url-pattern>/SvAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvActores</servlet-name>
        <url-pattern>/SvActores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvNoticias</servlet-name>
        <url-pattern>/SvNoticias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvTrailers</servlet-name>
        <url-pattern>/SvTrailers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvCrearPublicaciones</servlet-name>
        <url-pattern>/SvCrearPublicaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvHome</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetallesPost</servlet-name>
        <url-pattern>/DetallesPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvComentar</servlet-name>
        <url-pattern>/SvComentar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvDashboard</servlet-name>
        <url-pattern>/SvDashboard</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
</web-app>
