@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.recientes h2 {

    color: #024caa;;
    font-size: 50px;
    text-align: left;
    padding-left: 3rem;
    text-shadow: 
    1px 1px 0px aliceblue,   /* Sombra abajo derecha */
    -1px -1px 0px aliceblue, /* Sombra arriba izquierda */
    -1px 1px 0px aliceblue,  /* Sombra abajo izquierda */
    1px -1px 0px aliceblue;  /* Sombra arriba derecha */
}

.taquilla h2 {
    color: #024caa;;
    font-size: 50px;
    text-align: left;
    padding-left: 3rem;
    text-shadow: 
    1px 1px 0px aliceblue,   /* Sombra abajo derecha */
    -1px -1px 0px aliceblue, /* Sombra arriba izquierda */
    -1px 1px 0px aliceblue,  /* Sombra abajo izquierda */
    1px -1px 0px aliceblue;  /* Sombra arriba derecha */
}
.trailers img{
    height: 30rem;
    width: 19rem;
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: 25rem;
    max-height: 30rem;
    border-radius: 4rem
}

.trailers {
    display: flex;
}